<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="h-bloc">
            <h4>C#</h4>
			<p>The following link takes you to a repository for examples of my C# programming that I've completed in school from my software development courses. This includes techniques such as object-orientation and LINQ to perform essential programming tasks.</p>
			<h4>Java</h4>
			<p>This link will direct you to examples of my Java programming. While in school I used Java and android studio to make various mobile applications.</p>
			<h4>Database Design</h4>
			<p>This link directs to examples of my work with SQL and database design. The assignments include essential database concepts, triggers, stored procedures, table joins, and table normalization.</p>
			<h4>Web Architecture</h4>
			<p>These are examples of my work in web architecture. Here, you will find examples of html, css, and javascript. These examples are done with MVC, object oriented programming, and other modern methodologies.</p>
			<h4>Labs</h4>
			<p>This repository features examples from my computer infrastructure course. This lab features summaries of labs where I was required to use the command line to complete batch jobs and similar tasks.</p>
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Technical Writing</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="h-bloc">
            <h4>Case Studies</h4>
			<p>This is a repository for examples of my skills in business writing. During case studies, we were required to implement management principles, theories, and models in order to solve unstructured business problems.</p>
			<h4>Adelante Hispanic Achievers</h4>
			<p>Adelante Hispanic Achievers (AHA) is a non-profit client that I designed a website for along with a small group. In this document you will find examples of UML design, use cases, prototypes, CRC cards, and other examples of technical documents.</p>
			<h4>US Army Corps of Engineers Strategic Assessment</h4>
			<p>I performed a strategic assessment and made a busienss recommendation for the Louisville Branch of the US Army Corps of Engineers. This information is confidential, so if you want to learn more please contact me directly.</p>
			<h4>Ethics in Business Technology</h4>
			<p>This repository leads to work I did in a course that teaches the understanding and importance of business ethics in technology. The essays and case studies feature concepts and methods for making optimal business decisions in the face of ethical dilemmas.</p>
        </div>

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Software Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> United Parcel Services</h6>
                <p>Primarily using C# to create software that optimizes business practices. Other responsibilities included testing applications and developing front-end applications. At UPS, I was required to become familiar with the software development life cycle and coordinate with teams in an agile developer environment. </p>
            </li>
            <li>
                <h5>Package Handler <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> United Parcel Services</h6>
                <p>Tasked with working with a team of people to load package containers for overnight shipment.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Bachelor of Science in Business, Computer Information Systems <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> University of Louisville</h6>
				</li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Community Service</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">College Mentors for Kids</li>
			<li>Relay for Life Fundraiser</li>
			<li>RaiseRed Fundraiser for Pediatric Cancer Prevention</li>
			<li>Habitat for Humanity</li>
			<li>Big Brothers Big Sisters</li>
			<li>Sigma Phi Epsilon</li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->