<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catMotion catGraphic logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">C#</span></li>
            <li><span class="filter" data-filter="catMotion">Java</span></li>
            <li><span class="filter" data-filter="catGraphic">SQL</span></li>
			<li><span class="filter" data-filter="logo">Technical Design and Writing</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/ChadTracy/LINQ" target="_blank" rel="portfolio" title="A programming example primarily aimed at demonstrating LINQ.">
                        <img src="images/portfolio/1.jpg" alt="csharp" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">C# LINQ</a>
                                <span class="text-category">C#</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/ChadTracy/Mock-Library" target="_blank" rel="portfolio" title="A mock Library. Designed for implementing OO Programming, LINQ, Inheritance, Polymorphism, and other essential programming techniques">

                        <img src="images/portfolio/1.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Library</a>
                                <span class="text-category">C#</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/ChadTracy/Binary-Tree-Sort" target="_blank" rel="portfolio">
                        <img src="images/portfolio/1.jpg" alt="" title="A C# example displaying a binary tree." />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Binary Tree</a>
                                <span class="text-category">C#</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/ChadTracy/Shopping-Cart-Site" target="_blank" rel="portfolio">
                        <img src="images/portfolio/1.jpg" alt="" title="A mock website made with C# and ASP.NET. Displays essential web application techniques via a shopping website with a shopping cart."/>
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Website</a>
                                <span class="text-category">C#</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="https://github.com/ChadTracy/TicTacToes" target="_blank" title="A mobile android applcation that plays a tic tac toe game." rel="portfolio">
                        <img src="images/portfolio/2.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tic Tac Toe</a>
                                <span class="text-category">Android</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catMotion" data-cat="catMotion">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/jamesericryg/RaginCaginSoundboard" target="_blank" rel="portfolio">				
                        <img src="images/portfolio/2.jpg" alt="" title="An experimental soundboard application. Displays various aspects of saving, uploading, and sharig files via a mobile application"/>
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Soundboard</a>
                                <span class="text-category">Android</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://github.com/ChadTracy/Portfolio/tree/master/Programming/SQL/11" target="_blank" rel="portfolio" title="SQL query examples">
                        <img src="images/portfolio/3.jpg" alt="SQL" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Advanced SQL Queries</a>
                                <span class="text-category">SQL</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
			
            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://github.com/ChadTracy/Portfolio/tree/master/Programming/SQL/12" target="_blank" title="SQL. Adv queries and SP" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SQL Assignment. Includes examples for database table management (CRUD), stored procedures, and queries</a>
                                <span class="text-category">SQL</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="assets/documents/Class Diagram.pdf" target="_blank" rel="portfolio" title="UML Class diagram for AHA website">
                        <img src="images/portfolio/4.jpg" alt="Design"  />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Class Diagram</a>
                                <span class="text-category">UML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">	
                    <a href="assets/documents/CRC Cards.pdf" target="_blank" title="CRC Cards detailing classes and their purposes within the website." rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">CRC Cards</a>
                                <span class="text-category">UML</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="https://github.com/ChadTracy/CIS420" target="_blank" rel="portfolio">
                        <img src="images/portfolio/6.jpg" alt="Design and Implementation" title="The complete website created by myself and a team of students for AHA. Implements the designs from the other documents listed within my portfolio. Created with C# and ASP.NET" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Adelante Hispanic Achievers</a>
                                <span class="text-category">Design and Implementation</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
			
			<!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/documents/CATracy_Case5_Waco.pdf" target="_blank" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Technical Writing" title="Case study for WACO. Includes a full industry competitive analysis for the company. This case in particular has a focus on business ethics" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">WACO Case Study</a>
                                <span class="text-category">Technical Writing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
			
			<!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/documents/CATracy_Case_6.pdf" target="_blank" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Technical Writing" title="Case Study for Connor Metal. This case focuses on uppper management and the conflict with new technology among various company divisions." />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Connor Metal Case Study</a>
                                <span class="text-category">Technical Writing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
			
			<!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/documents/Case_7_Webvan.pdf" target="_blank" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Technical Writing" title="Case Study for Webvan. This case has a heavy focus on companies competing in the electronic market." />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Webvan Case Study</a>
                                <span class="text-category">Technical Writing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
			
						<!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/documents/inception-and-elaboration-spec.pdf" target="_blank" rel="portfolio">
                        <img src="images/portfolio/5.jpg" alt="Technical Writing" title="Spec and elaboration file for the Adelante Hispanic Achievers site. Includes strategic assessments, site specifications, and more detailing the problems and solutions proposed." />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">AHA Inception and Elaboration</a>
                                <span class="text-category">Design and Implementation</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->